name: Validate PR
on:
  pull_request:
    branches: [ master ]

jobs:
  build-and-test-package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Build with Maven
        run: mvn clean -U install
