name: Validate PR
on:
  push:
    branches: [ master, gha-refactor ]

jobs:
  build-test-package:
    name: Build and Package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Build and Package with Maven
        run: ./mvnw --no-transfer-progress clean -U install
